@use 'colors' as color;

.footer {
	color: color.$second-color;
	background-color: color.$footer-background;

	.wrapper {
		padding: 2em 1em 2em;
	}

	&__boxes {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__brand {
		padding: 2rem;
		font-size: 2rem;
		text-decoration: none;
		color: color.$second-color;

		i {
			color: color.$icon-color;
			font-size: 2rem;
		}
	}

	&__map {
		display: flex;

		&-category {
			display: flex;
			flex-direction: column;
			padding: 0 1em 1em;
		}

		&-title {
			font-size: 1.6rem;
			margin-bottom: 0.2em;
		}

		&-text {
			position: relative;
			font-size: 1rem;
			padding: 0.5em 0;
			cursor: pointer;

			&::before {
				content: '';
				position: absolute;
				height: 80%;
				width: 2px;
				top: 10%;
				left: -5px;
				background-color: color.$second-color;
				transform: scaleY(0);
				transition: transform 0.3s;
			}

			&:hover::before {
				transform: scaleY(1);
			}
		}
	}

	&__bottom-text {
		padding: 1em;
		text-align: center;
		font-size: 1rem;
	}
}

@media (min-width: 414px) {
	.footer {
		&__brand {
			font-size: 3rem;
			i {
				font-size: 3rem;
			}
		}

		&__map {
			&-category {
				padding-right: 3em;
				padding-bottom: 2em;
			}

			&-title {
				font-size: 1.8rem;
				margin-bottom: 0.4em;
			}

			&-text {
				font-size: 1.4rem;
			}
		}

		&__bottom-text {
			padding: 1.2em;
			font-size: 1.2rem;
		}
	}
}

@media (min-width: 768px) {
	.footer {
		.wrapper {
			padding: 6em 5em 2em;
		}

		&__boxes {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
		}

		&__brand {
			font-size: 4rem;
			i {
				font-size: 4rem;
			}
		}

		&__map {
			&-title {
				font-size: 2rem;
			}

			&-text {
				font-size: 1.6rem;
			}
		}

		&__bottom-text {
			padding: 1.4em;
			font-size: 1.6rem;
		}
	}
}

@media (min-width: 1200px) {
	.footer {
		.wrapper {
			padding: 6em 14em 2em;
		}

		&__brand {
			font-size: 6rem;

			i {
				font-size: 6rem;
			}
		}

		&__map {
			&-category {
				padding-right: 4em;
				padding-bottom: 3em;
			}

			&-title {
				font-size: 2.8rem;
			}

			&-text {
				padding: 0.8em 0;
			}
		}

		&__bottom-text {
			padding: 2em;
			font-size: 1.6rem;
		}
	}
}
