@use 'colors' as color;

@mixin heroImages($bgImg) {
	background-image: color.$hero-shadow, url($bgImg);
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
}

@mixin contactForm {
	margin-bottom: 2em;
	padding: 0.6em 1.2em;
	border: 1px solid transparent;
	border-radius: 8px;
	font-size: 1.6rem;
}
